<!--========== HEADER ==========-->
<header class="full-header">
    <div class="container header-container">

        <div class="row align-items-center">
            <div class="col-md-6 text-md-start text-center">
                <a href="#" class="navbar-brand"> 
                    <img src="assets/img/logo.png" alt="Logo" class="img-fluid" width="150">
                </a>
            </div>
        <!-- Search Bar -->
            <div class="col-md-6 text-md-end text-center">
                <div class="d-flex flex-column">
                    <div class="language-selection">
                        <span class="lang active" data-lang="fi">SUOMEKSI</span>
                        <span class="lang" data-lang="en">IN ENGLISH</span>
                    </div>
                    <div class="search-container d-flex">
                        <input type="text" id="search-input" class="form-control" placeholder="Hae sivustolta">
                        <button id="hakubtn" class="btn btn-primary" type="button">HAE</button>
                    </div> 
            </div>
        </div>
    </div>
</header>