<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="button-text pull-left">PÄÄVALIKKO</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarNav">
            <ul class="navbar-nav text-center">
                <a id="etusivu" class="btn btn-secondary menu-item active" role="button" href="#" >Etusivu</a>
                            
                <div class="menu-item dropdown">
                <a id="kahvi" class="btn btn-secondary dropdown-toggle menu-item" 
                href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                kahvikulttuuri
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">tavat ja perinteet</a></li>
                    <li><a class="dropdown-item" href="#">kahvipöytätarjoilu</a></li>
                    <li><a class="dropdown-item" href="#">reseptit</a></li>
                </ul>
                </div>
            
                <a id="kahvilat" class="btn btn-secondary menu-item" role="button" href="#" >Kahvimerkit ja paahtimot</a>
                <a id="kahvila-kulttuuri" class="btn btn-secondary menu-item" role="button" href="#" >Kahvilat suomessa</a>

                <div class="menu-item dropdown">
                 <a id="yhteystiedot" class="btn btn-secondary dropdown-toggle menu-item" 
                    href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    yhteystiedot
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">yhteystiedot</a></li>
                    <li><a class="dropdown-item" href="#">henkilökunta</a></li>
                    <li><a class="dropdown-item" href="#">palaute</a></li>
                    <li><a class="dropdown-item" href="#">UKK</a></li>
                    <li><a class="dropdown-item" href="#">käyttöehdot</a></li>
                    <li><a class="dropdown-item" href="#">saavutettavuusseloste</a></li>
                    <li><a class="dropdown-item" href="#">tietosuojaseloste</a></li>
                </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>